doctype html
html
    head
        title Side Project, Cloning Youtube
    body
        header
            h1 Cloning Youtube
        main
            block content
        footer
            span &copy; 2019 Side Project, Cloning Youtube