extends layouts/main
include mixins/videoBlock

block content
    div.search__header
        h3 Searching : #{searchingBy}
    div.search__videos
        each items in videos
            +videoBlock({
                title: items.title,
                views: items.views,
                videoFile: items.videoFile
            })