mixin videoBlock(video = {})
    div.video-block
        a(href=routes.videoDetail(video.id))
            video.video-block__thumbnail(src= video.videoFile, controls=true)
            strong.video-block__title= video.title
            span.video-block__views= video.views